<div class="panel panel-primary">
            <div class="panel-heading">Transfer Details
        </div>
 <div class="panel-body">
  <div class="col-md-6 form-group2 group-mail">
  <%= form_for :inventory_transfer, method: :get,remote:true,id: 'search' do |f|%>
  <font color="red"><b>Select Inventory Type to See Inventory Reports *</b></font>
 <%= f.select :inventory_type_id, InventoryType.all.collect{|u| [u.name, u.id]},prompt:'Select a Inventory Type',class: 'form-control'%>
 
<%end%></div>

<div id="stage">
  
</div>
 </div>
</div>

<script type='text/javascript'>
$('#inventory_transfer_inventory_type_id').on('change', function() {
 var inventory_transfer_inventory_type_id;
 Item = $(this).val();
 $.ajax({
   url: '/inventory_transfers/select',
   type: 'GET',
   dataType: 'script',
   data: {inventory_transfer_inventory_type_id: Item},
   }).success(function(data) {
    
   
 });
});
</script>
